<ion-view>
    <div class="bar bar-header bar-dark">
        <h1 class="title">Contact</h1>
    </div>
    <ion-content>
        <div class="logo">
            <img src="img/ideaal-catering-logo.png">
        </div>
        <div class="card">
            <div class="item item-divider">
                Contact
            </div>
            <div class="item item-text-wrap">
                <h2>Ideaal Catering B.V.</h2>
                <p>Rolafweg-Noord 53, 3411 BJ, Lopik</p>
                <p>06-83447674</p>
                <p>info@ideaalcatering.nl</p>
                <p>KvK : 58107363</p>
            </div>
        </div>
    </ion-content>
</ion-view>