<ion-view>
    <div class="bar bar-header bar-dark">
        <h1 class="title">Contact</h1>
    </div>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Naam</span>
                <input type="text" placeholder="Naam">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input type="text" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Telefoon</span>
                <input type="text" placeholder="Telefoon">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Opmerkingen</span>
                <textarea placeholder="Opmerkingen" style="height:200px"></textarea>
            </label>
        </div>
        <div class="content padding">
            <button class="button icon ion-ios-paperplane-outline button-block button-positive" ng-click="">  Verstuur</button>
    </ion-content>
</ion-view>
