<ion-view>
    <div class="bar has-tabs-top bar-header bar-dark">
        <h1 class="title">Assortiment</h1>
    </div>
 <ion-content overflow-scroll="false">
        <div class="list card" ng-repeat="product in products">
            <div class="item item-image" style="height: 200px;" > 
                <img href="#" ng-src="{{product.featured_src}}" >
            </div>
             <div style="padding: 20px;"> 
                <p data-ng-bind-html="product.short_description"></p>
            </div>
            <a class="item assertive">
                {{product.title}}
                <span class="item-note">{{product.price | currency:"€"}}  </span>
            </a>    
          <a class="item item-icon-left item-icon-right" href="#">
          <i class="icon ion-minus-circled" ng-click="subtractQuantity(product)"></i>Quantity {{number}}
          <i class="icon ion-plus-circled" ng-click="addQuantity(product)"></i> 
          </a>
          <button class="item button button-block button-positive" ng-click="submit() ; intoCart({{product}})">
                    Add to Cart
          </button>
        </div>
</ion-content>
</ion-view>



