<ion-view>
    <div class="bar has-tabs-top bar-header bar-dark">
        <h1 class="title">Drankarrangement</h1>
    </div>
    <ion-content overflow-scroll="false">
        <div class="list" ng-repeat="product in products | filter:{categories:'Drankarrangement'}">
            <a class="item item-thumbnail-left" href="#/app/details/{{product.id}}">
                <img ng-src="{{product.featured_src}}" href="#/app/details/{{product.id}}">
                <h2>{{product.title}}</h2>
                <p>{{product.price | currency:"€"}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>
