<ion-view>
    <div class="bar has-tabs-top bar-header bar-dark">
        <h1 class="title">Home</h1>
    </div>
    <ion-content overflow-scroll="false" >
        <div class="row">
            <div class=" home-banner col-center">
                <a href="#/app/pakketten">
                    <div class="background-2 background">
                        <h2 class="title">BBQ pakketten</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class=" home-banner col-center">
                <a href="#/app/groepspakketten">
                    <div class="background-5 background">
                        <h2 class="title">Groepspakketten</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class=" home-banner col-center">
                <a href="#/app/drankarrangement">
                    <div class="background-6 background">
                        <h2 class="title">Dranksarrangement</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class=" home-banner col-center">
                <a href="#/app/zelf-combineren">
                    <div class="background-1 background">
                        <h2 class="title">Zelf Combineren</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class=" home-banner col-center">
                <a href="#/app/verhuurproducten">
                    <div class="background-3 background" >
                        <h2 class="title">Verhuurproducten</h2>
                    </div>
                </a>
            </div>
        </div>
</ion-view>
