<ion-view>
    <div class="bar has-tabs-top bar-header bar-dark">
        <h1 class="title">Zelf Combineren</h1>
    </div>
    <div class="tabs-striped tabs-top tabs-background-light tabs-color-assertive">
        <div class="tabs">

                <a class="tab-item active" href="" rel="tab1" ng:click="selected=1" ng:class="{'active' : selected==1 }">Vless</a>
                <a class="tab-item" href="" rel="tab2" ng:click="selected=2" ng:class="{'active' : selected==2 }">Vegetarisch</a>
                <a class="tab-item" href="" rel="tab3" ng:click="selected=3" ng:class="{'active' : selected==3 }">Vis</a>
                <a class="tab-item" href="" rel="tab4" ng:click="selected=4" ng:class="{'active' : selected==4 }">Specials</a>
                <a class="tab-item" href="" rel="tab5" ng:click="selected=5" ng:class="{'active' : selected==5 }">Salades</a>

        </div>
    </div>
    <div id="tab1" class="tabContent selected" ng:hide="selected != 1">
        <ion-content class="has-tabs-top" overflow-scroll="false" delegate-handle- "myScrollDelegate">
            <div class="list" ng-repeat="product in products | filter:{categories:'Vlees'}">
                <a class="item item-thumbnail-left" href="#/app/details/{{product.id}}">
                    <img href="#/app/details/{{product.id}}" ng-src="{{product.featured_src}}">
                    <h2> {{product.title}}</h2>
                    <p class="price-tag pull-left">{{product.price | currency:"€"}} </p>
                </a>
            </div>
        </ion-content>
    </div>
    <div id="tab2" class="tabContent selected" ng:show="selected == 2">
        <ion-content class="has-tabs-top" overflow-scroll="false" delegate-handle- "myScrollDelegate">
            <div class="list" ng-repeat="product in products | filter:{categories:'Vegetarisch'}">
                <a class="item item-thumbnail-left" href="#/app/details/{{product.id}}">
                    <img href="#/app/details/{{product.id}}" ng-src="{{product.featured_src}}">
                    <h2> {{product.title}}</h2>
                    <p class="price-tag pull-left">{{product.price | currency:"€"}} </p>
                </a>
            </div>
        </ion-content>
    </div>
    <div id="tab3" class="tabContent selected" ng:show="selected == 3">
        <ion-content class="has-tabs-top" overflow-scroll="false" delegate-handle- "myScrollDelegate">
            <div class="list" ng-repeat="product in products | filter:{categories:'Vis'}">
                <a class="item item-thumbnail-left" href="#/app/details/{{product.id}}">
                    <img href="#/app/details/{{product.id}}" ng-src="{{product.featured_src}}">
                    <h2> {{product.title}}</h2>
                    <p class="price-tag pull-left">{{product.price | currency:"€"}} </p>
                </a>
            </div>
        </ion-content>
    </div>
    <div id="tab4" class="tabContent selected" ng:show="selected == 4">
        <ion-content class="has-tabs-top" overflow-scroll="false" delegate-handle- "myScrollDelegate">
            <div class="list" ng-repeat="product in products | filter:{categories:'Specials'}">
                <a class="item item-thumbnail-left" href="#/app/details/{{product.id}}">
                    <img href="#/app/details/{{product.id}}" ng-src="{{product.featured_src}}">
                    <h2> {{product.title}}</h2>
                    <p class="price-tag pull-left">{{product.price | currency:"€"}} </p>
                </a>
            </div>
        </ion-content>
    </div>
    <div id="tab5" class="tabContent selected" ng:show="selected == 5">
        <ion-content class="has-tabs-top" overflow-scroll="false" delegate-handle- "myScrollDelegate">
            <div class="list" ng-repeat="product in products | filter:{categories:'Salades'}">
                <a class="item item-thumbnail-left" href="#/app/details/{{product.id}}">
                    <img href="#/app/details/{{product.id}}" ng-src="{{product.featured_src}}">
                    <h2> {{product.title}}</h2>
                    <p class="price-tag pull-left">{{product.price | currency:"€"}} </p>
                </a>
            </div>
        </ion-content>
    </div>
</ion-view>
